<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>

	<title>Agenda Aí</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
	
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css" />
	<link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}" type="text/css" />
	
	<link rel="stylesheet" href="./index/style(1).css">
	
	<noscript>
		<link rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Be+Vietnam+Pro:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap">
	</noscript>
	
	<link rel="preload" as="style" href="./index/mbr-additional.css">
	<link rel="stylesheet" href="./index/mbr-additional.css" type="text/css">

</head>

<body class="">
	<section>
		<img src="/imagens/logomarca-v4.png" class="img-fluid" alt="logo">
	</section>

	<section data-bs-version="5.1" class="header7 cid-sUp808fGej" id="aheader7-2">

		<div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);"></div>

		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10">

					<h1 class="mbr-section-title mbr-fonts-style align-center display-1"><strong>Simplifique a
							vida</strong><br><strong>dos seus clientes</strong></h1>
					<p class="mbr-text mbr-fonts-style-4 align-center display-5">
						Agendar um serviço nunca foi tão fácil,<br>
						não deixe seu cliente esperando.
					</p>
					<div class="mbr-section-btn align-center">
					<a class="btn btn-danger display-5"	onclick="location.href='/cadastrar'">Cadastre-se
					<div style="margin-left: 10px;"><i class="fa-solid fa-address-card"></i></div>
						</a>
					<a class="btn btn-danger display-5"	onclick="location.href='/painel/admin'">Login
					<div style="margin-left: 10px;"><i class="fa-solid fa-address-card"></i></div>
						</a></div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="features1 cid-sUp8BuJ3BY" id="afeatures1-3">


		<div class="align-center container">
			<div class="row justify-content-center">
				<div class="mbr-section-head col-12 col-lg">
					<div class="text-container">
						<h4 class="mbr-section-title mbr-fonts-style mb-0 display-2"><strong>Simplicidade</strong></h4>
						<h5 class="mbr-section-subtitle mbr-fonts-style display-4">O Agenda Aí é um aplicativo para
							facilitar a sua vida, seus clientes podem fazer o agendamento dos seus serviços sozinhos.
							Porporcionando muito mais tempo para você cuidar do seu negócio.
							</h5>
						<!--						<div class="mbr-section-btn"><a class="btn btn-danger display-4"-->
						<!--								href="https://mobiri.se/">Check&nbsp;projects</a></div>-->
					</div>
				</div>
				<div class="col-12 col-lg-6 col-video">
					<div class="box">
						<div class="mbr-media show-modal align-center">
							<img src="./index/undraw-mobile-development-8gyo2.png" alt="Mobirise">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="header4 cid-sUpaNujsoE" id="aheader6-6">
		<div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(0, 121, 174);"></div>

		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-12">
					<div class="content-container">
						<h1 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1"><strong>Web
								App</strong></h1>
						<p class="mbr-text mbr-fonts-style align-center mb-0 display-4">
							Sistema Desenvolvido para Web,<br>
							acesse de qualquer lugar, em qualquer dispositivo.
						</p>
						<div class="mbr-section-btn align-center">
							<a class="btn btn-white display-7" href="#">
								<span class="mobi-mbri"></span>Android<i class="fa-brands fa-android"></i></a>

							<a class="btn btn-white display-7" href="#"><span class="mobi-mbri"></span>iOS <i
									class="fa-brands fa-apple"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="features1 cid-sUpbXTEP8t" id="afeatures1-9">


		<div class="align-center container">
			<div class="row justify-content-center">
				<div class="mbr-section-head col-12 col-lg">
					<div class="text-container">
						<h4 class="mbr-section-title mbr-fonts-style mb-0 display-2"><strong>Praticidade</strong></h4>
						<h5 class="mbr-section-subtitle mbr-fonts-style display-4">Link único da sua empresa para acesso
							dos seus clientes,
							onde em 3 passos simples realizarão o agendamento.
							<br><br>
							1 - Selecionar o Funcionário<p>
								2 - Selecionar o Serviço
							<p>
								3 - Escolher o horário disponivel
								
								<br>Suporte para muitos Funcionários,
							horários flexiveis, descrição dos serviços e muito mais...
						</h5>
						<div class="mbr-section-btn"><a class="btn btn-danger display-4" href="#">Teste Grátis</a></div>
					</div>
				</div>
				<div class="col-12 col-lg-6 col-video">
					<div class="box">
						<div class="mbr-media show-modal align-center">
							<img src="./index/undraw-mobile-images-rc0q.png" alt="Mobirise">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="video3 cid-sUpdP1muec" id="avideo3-c">


		<div class="align-center container">
			<div class="row justify-content-center">
				<div class="col-12 col-md-6 col-xl-6 col-video">
					<div class="box">
						<div class="mbr-media show-modal align-center" data-modal=".modalWindow">
							<img src="./index/undraw-drag-5i9w.png" alt="Mobirise">
							<div class="icon-wrap">
								<a class="text-primary"
									href="https://mobirise.com/extensions/ideam5/graphic-design-app/#"><span
										class="mbr-iconfont socicon-youtube socicon"
										style="color: rgb(0, 153, 255); fill: rgb(0, 153, 255);"></span></a>
							</div>
						</div>
					</div>
				</div>
				<div class="mbr-section-head col-12 col-md-6 col-xl">
					<div class="text-container">
						<div class="user-container">
							<div class="user-img">
								<img src="./index/team1.jpg" alt="Mobirise">
							</div>
							<div class="user-prof-wrap">
								<p class="user-prof mbr-fonts-style display-5"><strong>ttos</strong></p>
							</div>
						</div>
						<h5 class="mbr-section-subtitle mbr-fonts-style display-4">
							"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud."
						</h5>
						<p class="user-name-text mbr-fonts-style mb-0 display-4">
							Kristen Mason
						</p>
						<p class="user-prof-text mbr-fonts-style mb-0 display-4">
							Platform Designer at Ttos
						</p>
						<div class="mbr-section-btn"><a class="btn btn-danger display-7" href="https://mobiri.se/">More
								Testimonials</a></div>
					</div>
				</div>
			</div>
		</div>
		<div>
		</div>
	</section>

	<section data-bs-version="5.1" class="header4 cid-sUpgDwldBP mbr-fullscreen" id="aheader5-f">

		<div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(10, 181, 255);"></div>

		<div class="container-fluid">
			<div class="row">
				<div class="col-12 col-lg-12">
					<h1 class="mbr-section-title mbr-fonts-style align-center mb-0 display-1"><strong>Teste Grátis por
							30 dias</strong></h1>
					<h5 class="mbr-section-subtitle mbr-fonts-style display-4 text-center">R$ 19,90 por mês após 30
						dias, cancele quando quiser sem custos adicionais!</h5>
					<div class="mbr-section-btn align-center">
						<a class="btn btn-danger display-7" href="#">Testar Grátis</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section data-bs-version="5.1" class="footer2 cid-sUph4Tprv1" once="footers" id="afooter2-g">
		<div class="container">
			<div class="media-container-row align-center mbr-white">
				<div class="col-12">
					<p class="mbr-text mb-0 mbr-fonts-style display-7">
						© Copyright 2025 Agenda Aí - Todos os Direitos Reservados
					</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>